<!-- <button (click)="dispatchzoo()">click to dispatch</button>

<button (click)="addHouse()">Click to add house</button> -->

<p-button styleClass="p-button-success" (click)="fetchProducts()">Clcik To Fetch and add products</p-button>
<p-button styleClass="p-button-success" (click)="addRandom()">Clcik To add random user</p-button>



<p-toast></p-toast>

<p-button styleClass="p-button-success" (click)="addProduct()">Click to add a new product</p-button>

<p-table [value]="products$ | async" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Avatar</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td><img src="{{user.avatar}}" alt="User Image" srcset=""></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </ng-template>
</p-table>